@import url("reset.css");

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: #4D4D4D;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
    
.header {
    background-color: #323232;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 940px;
    margin-left: 20px;
    margin-right: 20px;
}

/* HEADER */
.header__wrapper {
    height: 64px;
}

.header__social {
    margin-left: auto;
}

.menu {
    display: flex;
}

.menu__list {
    display: flex; 
}

.menu__item {
    display: flex;
    border-left: 1px solid #4D4D4D;
}

.menu__item:last-child {
    border-right: 1px solid #4D4D4D;
}

/* MENU LINKS */
.button-link {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFF;
    text-decoration: none;
}

.button-link:hover {
    color: #C7AA8B;
    text-decoration: none;
    background-color: #000;
}

.button-link:active {
    text-decoration: none;
    background-color: #000;
}

/* SLIDER SECTION */
.slider {
    flex-direction: column;
    color: #FFF;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider__header {
    text-transform: uppercase;
    font-size: 79px;
    line-height: 66px;
    text-align: center;  
    margin-top: 67px;
}

/* DIVIDER */
.divider {
    border-top-width: 2px;
    border-top-style: solid;
    width: 60px;
    margin-top: 36px;
}

.slider__divider {
    border-top-color: #FFF;
}

.slider__text {
    font-family: Vollkorn, serif;
    margin-top: 18px;
}

/* BUTTON */
.button {
    text-transform: uppercase;
    padding: 10px 17px;
    margin-top: 49px;
}

.slider__button {
    color: #FFF;
    background-color: transparent;
    border: 2px solid #FFF;
}

.slider__dots {
    display: flex;
    margin-top: 86px;
    margin-bottom: 21px;
}
    
.slider__dot {
    flex: none;
    width: 9px;
    height: 9px;
    border: 0;
    margin-right: 6px;
    background-color: rgb(255 255 255 / 0.4);

}

.slider__dot:last-child {
    margin-right: 0;
}

.slider__dot--active {
    background-color: rgb(255 255 255);
}

/* FEATURES */
.features {
    background-color: #C7AA8B;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.features__item {
    margin-right: 20px;
}

.features__item:last-child {
    margin-right: 0;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
}

.features__item:last-child {
    margin-right: 0;
}

.feature__number {
    align-self: flex-start;
    color: #32323222;
    border-bottom: 1px solid #32323222;
    width: 100%;
    margin-bottom: 22px;
}

.feature__header {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.feature__img {
    margin-bottom: 35px;
}

.feature__text {
    font-family: Roboto, sans-serif;
    line-height: 20px;
    margin-bottom: 86px;
}

/* MISSION */
.mission {
    background-image: url(../img/bg_mission.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mission__wrapper {
    flex-direction: column;
}

.mission__text {
    font-size: 47px;
    line-height: 55px;
    color: #C7AA8B;
    margin-top: 127px;
}

.mission__divider {
    border-top-color: #C7AA8B;
    margin-top: 30px;
    margin-bottom: 127px;
}

/* TEAM */
.team__wrapper {
    margin-top: 80px;
    margin-bottom: 90px;
}

.team__header {
    text-transform: uppercase;
    
}

.team__list {
    display: flex;
    margin-left: auto;
}

.team__item {
    margin-left: 20px;

}

.person__name {
    margin-top: 10px;
}

.person__position {
    font-family: Vollkorn, serif;
}

.person_social {
    margin-top: 10px;
}

.social__list {
    display: flex;
}

.social__item {
    margin-right: 10px;
}

/* TESTIMONIALS */
.testimonials {
    background-color: #F7F7F7;
}

.testimonials__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.testimonials__header {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    color: rgba(50, 50, 50, 0.36);
}

.testimonials__divider {
    color: rgba(50, 50, 50, 0.36);
    margin-top: 15px;
    margin-bottom: 25px;
}

.testimonials__list {
    display: flex;
    text-align: center;
}

.testimonials__item {
    width: 361px;
    line-height: 20px;
    margin-right: 32px;
    margin-left: 32px;
}

.testimonials__text {
    margin-bottom: 20px;
    font-family: Vollkorn, serif;
    font-size: 15px;
}

.testimonials__text--active {
    font-size: 18px;
}

.testimonials__author {
    text-transform: uppercase;
    color: #C7AA8B;
}

/* FOOTER */
.footer {
    background-color: #323232;
    color: #858585;
}

.footer__button {
    margin: 0;
    background-color: transparent;
    border: 2px solid #C7AA8B;
    color: #C7AA8B;
    width: 33.3%;
}

.footer__wrapper {
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 65px;
    margin-bottom: 54px;
}

.footer__logo {
    display: inline-block;
    margin-right: 8px;
}

.footer__copyrights{
    width: 33.3%;
}

.footer__address {
    width: 33.3%;
    text-align: right;
}
